*{
    padding: 0;
    margin: 0;
}

.container {
    background: aqua;
    width: 200px;
    height: 100px;
    display: flex;
    justify-items: center;
    align-items: center;
}
.day{
    width: 100px;
    height: 50px;
}